@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}

@font-face {
    font-family: SourceSans3-Bold;
    src: url("../fonts/SourceSans3-Bold.ttf");
}

@font-face {
    font-family: SourceSans3-SemiBold;
    src: url("../fonts/SourceSans3-SemiBold.ttf");
}

@font-face {
    font-family: SourceSans3-Regular;
    src: url("../fonts/SourceSans3-Regular.ttf");
}